pre, code {padding:5px; background: #F8F8F8; font-size:12px; position:relative; max-height:500px; overflow:auto; display:block; word-wrap:normal;}
pre.php:before {content:'<php>';}
pre.js:before {content:'<js>';}
pre.css:before {content:'<css>'; }
pre.html:before {content:'<html>';}
pre.php:before, pre.js:before, pre.css:before, pre.html:before {position:absolute; display:block; top:5px; right:5px; font-size:16px; color:#05D105; opacity: 0.5;}

pre.html .code-comments, pre.php .code-comments{color:#04AD04;}
pre.html .code-tags, pre.php .code-tags {color:#0000ff}
pre.html .code-attribute, pre.php .code-attribute {color:#ff0000;}
pre.html .code-quotes, pre.php .code-quotes {color:#777;}

pre.php .code-var{color:#258E8F;}
pre.php .code-operator {color:#0000ff;}
pre.php .code-php {color:#ff0000;}

pre.css .code-comments{color:#04AD04;}
pre.css .code-tags {color:#3B3BF7;}
pre.css .code-pseudo {color:#F6AD51;}
pre.css .code-class {color:#ff0000;}
pre.css .code-id {color:#0404C8;}
pre.css .code-style{color:#258E8F;}

pre.js  .code-operator {color:#0000ff;}
pre.js .code-comments{color:#04AD04;}
pre.js .code-quotes {color:#777;}	